# Python
backend/myenv/
backend/__pycache__/
backend/attendance.db
backend/temp_*.jpg

# Student Photos (Pure folder ko ignore karne ke liye)
backend/students_pics/*
# Lekin agar folder ke andar koi README ya .gitkeep file ho toh usay rehne do
!backend/students_pics/.gitkeep

# Flutter
mobile_app/.dart_tool/
mobile_app/.flutter-plugins
mobile_app/build/

# OS
.DS_Store